/* Base styles */

:root {
  /* Colors */
  --primary-color: #305881 ;
  --secondary-color: #15263a;
  --background-white: #fff;
  --background-light: #fafdff;
  --background-medium: #cbe3f1;
  --background-dark: #a7bcc9;
  --hover-light: #f0f0f0;
  --hover-medium: #68aed4;
  --hover-dark: #305881;
  --danger: #f76f73;
  --disabled-gray: #f1f1f1;

  /* Typography */
  --main-font-family: 'Roboto', sans-serif;
  --h1-font-size: 32px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --device-title-font-size: 1.5rem;
  --edit-section-title-font-size: 1.1rem;

  /* Spacing */
  --base-margin: 12px;
  --large-padding: 50px;
  --medium-padding: 30px;
  --small-padding: 1rem;

  /* Shadows */
  --soft-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  --medium-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  --strong-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  --edit-shadow:  rgba(0, 0, 0, 0.15) 0px 2px 8px;
  --button-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  /* Transitions */
  --transition-speed: 0.2s;
  --transition-speed-slow: 0.3s;
}

body {
  font-family: var(--main-font-family);
}

h1, h2 {
  font-weight: bold;
  margin-bottom: var(--base-margin);
}

h1 {
  color: var(--primary-color);
  font-size: var(--h1-font-size);
  text-align: center;
}

h2 {
  color: var(--secondary-color);
  font-size: var(--h2-font-size);
}

h3 {
  color: var(--secondary-color);
  font-size: var(--h3-font-size);
  margin-right: var(--small-padding);
  font-weight: bolder;
  text-align: center;
}

/* Navbar styles */
.nav {
  background-color: var(--background-white);
  backdrop-filter: blur(10px);
  opacity: 85%;
  position: sticky;
  top: 0px;
  transition: var(--transition-speed);
  z-index: 100;
}

.nav:hover {
  background-color: var(--background-white);
  opacity: 100%;
  top: 0px;
}

.link-item {
  color: var(--primary-color)
}

.logo {
  height: 50px;
  padding: 6px;
}

/* Devices page styles */
.devices-container, .users-container, .chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 20px var(--large-padding) 0 var(--large-padding); 
}

.login-section {
  background: var(--background-light);
  border-radius: 15px;
  box-shadow: var(--soft-shadow);
  height: 90vh; 
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 1rem 3rem 0;
}

.devices-section, .users-section, .chat-section {
  background: var(--background-light);
  border-radius: 15px;
  box-shadow: var(--soft-shadow);
  flex: 1.5;
  padding: var(--medium-padding); 
  min-height: 87vh; 
}

.chat-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.devices-menu {
  display: flex;
  justify-content: space-between;
}

.users-menu {
  display: flex;
  justify-content: flex-end;
}


.devices-filter, .devices-add, .users-add {
  align-items: center; 
  display: flex;
  justify-content: flex-end; 
  margin-left: var(--small-padding);
  margin-bottom: 2rem;
}

.device-card {
  background: var(--background-white);
  border: none;
  border-radius: 10px;
  box-shadow: var(--medium-shadow);
  margin: var(--small-padding);
  transition: transform var(--transition-speed), box-shadow var(--transition-speed); 
  width: 17rem;
}

.device-card:hover {
  box-shadow: var(--strong-shadow);
  transform: scale(1.02);
}

.device-card .card-body {
  padding: var(--small-padding);
  margin: 0;
}

.device-card .card-body .device-title {
  font-size: var(--device-title-font-size);
}

.device-title {
  color: var(--primary-color);
}

.edit-section, .chart-section {
  align-items: center;
  background: var(--background-light);
  border-radius: 15px;
  box-shadow: var(--soft-shadow);
  display: flex;
  flex: 1; 
  flex-direction: column; 
  height: 88vh;
  justify-content: center; 
  position: sticky;
  top: 8vh;
  margin-left: var(--medium-padding);
}

.edit-section-title, .chart-section-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 2rem; 
  text-align: center;
} 

.edit-holder, .chart-holder {
  align-items: center;
  display: flex;
  flex-direction: column; 
  padding: 20px;
}

/* Edit devices section styles */
.edit-card {
  background: var(--background-white);
  border: none;
  border-radius: 10px;
  box-shadow: var(--edit-shadow);
  overflow: hidden;
}

.edit-card .card-body {
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.edit-card .card-body header {
  margin-bottom: 1rem;
}

.edit-card .card-body .device-title {
  font-size: 1.2rem;
}

.edit-card .card-body .user-title {
  font-size: 1.2rem;
}

/* Buttons styles */
.update-button,
.delete-button,
.chart-button {
  align-items: center;
  background-color: var(--background-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  transition: background-color var(--transition-speed);
}

.update-button:hover, .chart-button:hover {
  background-color: #f0f0f0;
}

.delete-button {
  border-color: var(--danger);
  color: var(--danger);
}

.delete-button:hover {
  background-color: #fee7e7;
}

.save-button {
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: var(--background-dark); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  padding: 0.5rem; 
  width: 70%;
  margin: auto;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

.save-button:hover {
  background-color: var(--hover-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.create-button, .send-button {
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--background-dark); 
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 0.5rem 1rem; 
  text-align: center;
  text-decoration: none;
  transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

.create-button:hover, .send-button:hover {
  background-color: var(--hover-dark);
}

.create-button.active {
  background-color: var(--background-medium);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.create-button.active:hover {
  background-color: var(--background-dark);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Miscellaneous styles */
.edit-options {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.main-content-component {
  margin-bottom: 40px;
}

.main-message {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 65vh; 
}

.devices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem auto;
}

.hidden {
  display: none !important;
}


/* Input styles */
.input-small-custom, .input-large-custom, .chart-date-input {
  border: 1px solid #f0f0f0; 
  border-radius: 5px; 
  font-size: 0.9rem;
  color: #555; 
  padding: 5px; 
  background-color: #fff; 
  transition: background-color 0.1s;
  margin-bottom: 1rem;
}

.input-small-custom::placeholder, .input-large-custom::placeholder {
  color: #ccc;
}

.input-small-custom:focus::placeholder, .input-large-custom:focus::placeholder {
  color: #999;
}

.input-small-custom:hover,
.input-small-custom:focus,
.input-large-custom:hover,
.input-large-custom:focus,
.chart-date-input:hover,
.chart-date-input:focus {
  background-color: var(--background-light);
}

.input-large-custom {
  color: var(--primary-color); 
}

.input-group {
  width: 100%;
}

.input-wide {
  width: 100%; 
  max-width: 100%; 
}

.input-narrow {
  width: 30%; 
  max-width: 30%; 
}

.label-small-custom {
  font-size: 0.8rem; 
  color: #ccc; 
  font-weight: bold;
  margin: 1px;
}


/* Dropdown styles */
.filter-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  background-color: var(--background-dark); 
  background-image: url('./src/assets/caret-down-fill.svg');
  background-position: calc(100% - 0.5rem) center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-right: 0.5rem;
  outline: none;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  position: relative;
  transition: border-color 0.15s ease-in-out;
}

.filter-dropdown:focus {
  border-color: #ccc;
}

.filter-dropdown:hover {
  background-color: var(--hover-dark);
}

.filter-dropdown.active {
  background-color: var(--background-medium);
  background-image: url('./src/assets/caret-down-fill-white.svg');
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.filter-dropdown.active:hover {
  background-color: var(--background-dark);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.filter-dropdown:disabled {
  background-color: var(--background-white);
  border: none;
  background-image: none;
  cursor: default;
  color: #ccc;
}

/* Table Styles */
.users-table {
  width: 80%;
  border-collapse: collapse;
  margin: 2rem auto;
  background: var(--background-white);
  box-shadow: var(--medium-shadow);
  border-radius: 8px;
  overflow: hidden;
}

.users-table th,
.users-table td {
  padding: var(--base-margin);
  text-align: left;
  border-bottom: 3px solid var(--background-light);
}

.users-table th:first-child,
.users-table td:first-child {
  padding-left: var(--large-padding);
}

.users-table tr:last-child td {
  border-bottom: none;
}

.users-table th {
  background-color: var(--background-dark); 
  color: var(--background-white);
  font-size: var(--h3-font-size);
}

.users-table td {
  color: var(--secondary-color);
  font-size: var(--h3-font-size);
}

.users-table tbody tr:hover {
  background-color: var(--background-light);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.password-bullets {
  letter-spacing: 4px; 
}


/* Chat page styles */

/* Chat page styles */
.chat-area {
  background: var(--background-white);
  border-radius: 10px;
  box-shadow: var(--medium-shadow);
  padding: var(--small-padding);
  padding-left: var(--medium-padding);
  padding-right: var(--medium-padding);
  width: 60vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.chat-messages-container {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: transparent;
  padding-top: 0.5rem;
}

.chat-input {
  flex-grow: 1;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 9px;
  margin-right: var(--small-padding);
  background-color: #fff;
  font-size: 0.9rem;
  color: #555;
  transition: background-color 0.1s;
}

.chat-input::placeholder {
  color: #ccc;
}

.chat-input:focus::placeholder {
  color: #999;
}

.chat-input:hover,
.chat-input:focus {
  background-color: var(--background-light);
}

.typing-indicator {
  display: none;
  color: #555;
  font-size: 0.8rem;
  font-style: italic;
  padding-left: var(--small-padding);
  padding-right: var(--small-padding);
  text-align: left;
}

.chat-message {
  margin-bottom: 10px;
  padding: 0.8rem;
  border-radius: 15px;
  color: black;
  font-size: 0.9rem;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.chat-message .sender-name {
  font-size: 0.7rem;
  color: var(--secondary-color);
  margin-top: 5px;
  align-self: flex-end; 
}

.sent, .received {
  max-width: 80%;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 4px;
  word-wrap: break-word;
}

.sent {
  background-color: var(--background-medium);
  align-self: flex-end; 
  opacity: 80%;
}

.received {
  background-color: var(--background-light);
  align-self: flex-start;
  opacity: 80%;
}

.seen-by-info {
  font-size: 0.8rem;
  color: #666;
  text-align: right;
  align-self: flex-end;
  margin-top: 2px;
}
